<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Sloth</title>
    {% load staticfiles %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="conteiner col-lg-12 col-md-6 text-center">
    <img src="{% static 'todo/images/errorpic.png' %}" class="text-center" alt="Hoppala, dieser Fehler ist uns auch etwas peinlich" style="width:40%">
    <h3 class="text-center text-secondary m-5">Das ist nicht die Seite nach der Sie suchen!</h3>
    <a class="btn btn-primary" href="{% url 'todo:index' %}">Weiter gehen...., weiter gehen!</a>
  </div>
</body>
</html>
