{% extends 'todo/base.html'%}

{% block body %}
    {% load staticfiles %}
<link rel="stylesheet" href="{% static 'todo/styleAccount.css' %}" type="text/css"/>
    <div class="container mx-auto col-6 w-250 p-4 rounded border-bottom">
        <h3 class="p-3 mb-2 text-light text-center"><i class="far fa-compass"></i> Setz dein neues Psswort schnell, einfach und unkompliziert</h3>
    </div>
    <form class="container" role="form" action="#" method="POST">
        {% csrf_token %}
        {% load widget_tweaks %}
        <h1>Passwort ändern</h1>
        <h2>Setze ein neues Password</h2>
        {{form.error}}
        {{error|add_class:"error_message"}}
        {{form.as_p}}
        <button type="submit" class="btn btn-outline-secondary form-control-lg btn-lg" id="btn" ><i class="fas fa-edit"></i> Änderung übernehmen</button>
        <p> </p>
    </form>
{% endblock %}