{% extends 'todo/base.html'%}

{% block body %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'todo/styleIndex.css' %}" type="text/css"/>
    <div class="row">
        <div class="container col-10 m-4">
            <div class="float-right">
                <form class="input-group" method="post">
                    {% csrf_token %}
                    <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon" name="rng">
                        <option selected value="4">Alle Todos</option>
                        <option value="1">Deadlines Heute</option>
                        <option value="2">Deadlines diese Woche</option>
                        <option value="3">Deadlines diesen Monat</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Zeitraum filtern</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid p-5">
            <div class="row">
                <div class="container col-lg-5 col-md-12">
                    <div class="panel panel-primary p-4 rounded mx-auto">
                        <h5 class="panel-heading p-3 mb-2 text-center rounded"><i class="fas fa-exclamation"></i><b> Wichitg Und Dringend</b></h5>
                        <form class="panel panel-primary">
                            <ul class="list-group-flush">
                                {%for do in wd%}
                                {% include 'todo/todo_temp.html'%}
                                {%endfor%}
                            </ul>
                        </form>
                    </div>
                </div>
                <div class="container col-lg-5 col-md-12">
                    <div class="panel panel-primary p-4 rounded mx-auto rounded">
                        <h5 class="panel-heading p-3 mb-2 text-center rounded"><i class="fas fa-rocket"></i><b> Wichitg Aber Nicht Dringend</b></h5>
                        <form class="panel panel-primary">
                            <ul class="list-group-flush">
                                {%for do in wnd%}
                                {% include 'todo/todo_temp.html'%}
                                {%endfor%}
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container col-lg-5 col-md-12">
                    <div class="panel panel-primary p-4 rounded  mx-auto rounded">
                        <h5 class="panel-heading p-3 mb-2 text-center rounded"><i class="fas fa-times-circle"></i><b> Nicht Wichitg Aber Dringend</b></h5>
                        <form class="panel panel-primary">
                            <ul class="list-group-flush">
                                {%for do in nwd%}
                                {% include 'todo/todo_temp.html'%}
                                {%endfor%}
                            </ul>
                        </form>
                    </div>
                </div>
                <div class="container col-lg-5 col-md-12">
                    <div class="panel panel-primary p-4 rounded mx-auto rounded">
                        <h5 class="panel-heading p-3 mb-2 text-center rounded"><i class="fas fa-shield-alt"></i><b> Weder Wichitg Noch Dringend</b></h5>
                        <form class="panel panel-primary">
                            <ul class="list-group-flush">
                                {%for do in nwnd%}
                                {% include 'todo/todo_temp.html'%}
                                {%endfor%}
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fixedbtn">
        <div class="do_sloth"></div>
    </div>

{% endblock %}
