<div class=' editable' id='de_114'>

    <p class="text-left text-secondary" lang="de">Mit den folgenden Informationen m&ouml;chten wir Ihnen einen &Uuml;berblick &uuml;ber die Verarbeitung Ihrer personenbezogenen Daten durch uns und Ihre Rechte aus dem Datenschutzrecht geben. Welche Daten im Einzelnen verarbeitet und in welcher Weise genutzt werden, richtet sich ma&szlig;geblich nach den beantragten bzw. vereinbarten Dienstleistungen. Daher werden nicht alle Teile dieser Informationen auf Sie zutreffen.</p>

    <p class="text-left text-secondary" lang="de">Generell gilt: Wir von Sloth nehmen den Schutz Ihrer pers&ouml;nlichen Daten sehr ernst. Wir weisen darauf hin, dass sich diese Website ausschlie&szlig;lich an vollj&auml;hrige Personen richtet.</p>

    <p class="text-left text-secondary" lang="de">&nbsp;</p>

    <h4 class="text-left ml-1">1.&nbsp;&nbsp;Wer ist f&uuml;r die Datenverarbeitung verantwortlich und an wen kann ich mich wenden?</h4>

    <p class="text-left text-secondary" lang="de">Verantwortlich ist</p>

    <ul>
        <li class="text-left text-secondary">Sloth</li>
        <li class="text-left text-secondary">E-Mail: <a href="mailto:info@Sloth.de">info@sloth.de</a></p></li>
    </ul>

    <h4 class="text-left ml-1">2.&nbsp;Welche Quellen und Daten nutzen wir?</h4>

    <p class="text-left text-secondary" lang="de">Wir verarbeiten personenbezogene Daten, die wir im Rahmen der Nutzung unserer Website unter anderem durch User, Bewerber oder auch Interessenten (im Folgenden: Sie) erhalten.</p>

    <h4 class="text-left ml-1">3.&nbsp;Wof&uuml;r verarbeiten wir Ihre Daten (Zweck der Verarbeitung) und auf welcher Rechtsgrundlage?</h4>

    <p class="text-left text-secondary" lang="de">Die personenbezogenen Daten, die Sie uns &uuml;ber eine Webseite mitteilen (Name, E-Mail-Adresse, Land, Alter) werden zur Korrespondenz mit Ihnen und f&uuml;r den Zweck gespeichert und verarbeitet, zu dem Sie uns die Daten zur Verf&uuml;gung gestellt haben; z. B. im Rahmen einer Registrierung, einer Kontakt-Anfrage, bei der Bestellung eines bestimmten Services oder der Teilnahme an einer Veranstaltung.</p>

    <p class="text-left text-secondary" lang="de">Wir verarbeiten personenbezogene Daten im Einklang mit den Bestimmungen der EU-Datenschutzgrundverordnung (DSGVO) und dem Bundesdatenschutzgesetz (BDSG)</p>

    <p class="text-left text-secondary" lang="de">a) zur Erf&uuml;llung von vertraglichen Pflichten (Art. 6 Abs. 1 b DSGVO)</p>

    <p class="text-left text-secondary" lang="de">Die Verarbeitung von Daten kann im Rahmen der Durchf&uuml;hrung von Vertr&auml;gen mit Ihnen als unser Kunde oder zur Durchf&uuml;hrung vorvertraglicher Ma&szlig;nahmen erfolgen.</p>

    <p class="text-left text-secondary" lang="de">b) im Rahmen der Interessenabw&auml;gung (Art. 6 Abs. 1 f DSGVO)</p>

    <p class="text-left text-secondary" lang="de">Soweit erforderlich, k&ouml;nnen wir Ihre Daten &uuml;ber die eigentliche Erf&uuml;llung des Vertrages hinaus zur Wahrung berechtigter Interessen von uns oder Dritten verarbeiten. Beispiele:</p>

    <ul>
        <li class="text-left text-secondary">Pr&uuml;fung und Optimierung von Verfahren zur Bedarfsanalyse,</li>
        <li class="text-left text-secondary">Werbung oder Markt- und Meinungsforschung soweit Sie der Nutzung Ihrer Daten nicht widersprochen haben,</li>
        <li class="text-left text-secondary">Geltendmachung rechtlicher Anspr&uuml;che und Verteidigung bei rechtlichen Streitigkeiten,</li>
        <li class="text-left text-secondary">Gew&auml;hrleistung der IT-Sicherheit und des IT-Betriebs des Unternehmens,</li>
        <li class="text-left text-secondary">Ma&szlig;nahmen zur Gesch&auml;ftssteuerung und Weiterentwicklung von Dienstleistungen und Produkten,</li>
    </ul>

    <p class="text-left text-secondary" lang="de">c) aufgrund Ihrer Einwilligung (Art. 6 Abs. 1 a DSGVO)</p>

    <p class="text-left text-secondary" lang="de">Soweit Sie uns eine Einwilligung zur Verarbeitung von personenbezogenen Daten f&uuml;r bestimmte Zwecke (z.B. zu Marketingzwecken, Newsletterversand) erteilt haben, ist die Rechtm&auml;&szlig;igkeit dieser Verarbeitung auf Basis Ihrer Einwilligung gegeben.</p>

    <p class="text-left text-secondary" lang="de">d) aufgrund gesetzlicher Vorgaben (Art. 6 Abs. 1 c DSGVO) oder im &ouml;ffentlichen Interesse (Art. 6 Abs. 1 e DSGVO)</p>

    <p class="text-left text-secondary" lang="de">e) im Rahmen der Begr&uuml;ndung eines Besch&auml;ftigtenverh&auml;ltnisses (Art. 88 DSGVO i.V.m. &sect; 26 Abs. 1 BDSG)</p>

    <p class="text-left text-secondary" lang="de">Sofern Sie sich bei uns bewerben, darf ebenfalls eine Verarbeitung ihrer personenbezogenen Daten erfolgen.</p>

    <h4 class="text-left ml-1">4. Was bedeutet das im Einzelnen bezogen auf die Bereitstellung dieser Website mit den darin zur Verf&uuml;gung stehenden Diensten?</h4>

    <p class="text-left text-secondary" lang="de"><strong>4.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bereitstellung der Website und Erstellung von Logfiles</strong></p>

    <p class="text-left text-secondary" lang="de">Bei jedem Aufruf unserer Internetseite erfasst unser System automatisiert Daten und Informationen vom Computersystem des aufrufenden Rechners. Folgende Daten werden hierbei erhoben:</p>

    <ol>
        <li class="text-left text-secondary">&nbsp;die IP-Adresse des Nutzers</li>
        <li class="text-left text-secondary">&nbsp;Datum und Uhrzeit des Zugriffs</li>
        <li class="text-left text-secondary">&nbsp;Websites, die vom System des Nutzers aus &uuml;ber unsere Website aufgerufen werden</li>
    </ol>

    <p class="text-left text-secondary" lang="de">Die Daten werden ebenfalls in den Logfiles unseres Systems gespeichert. Eine Speicherung dieser Daten zusammen mit anderen personenbezogenen Daten des Nutzers findet nicht statt.</p>

    <p class="text-left text-secondary" lang="de">Rechtsgrundlage f&uuml;r die vor&uuml;bergehende Speicherung der Daten unter Logfiles ist Art. 6 Abs. 1 lit. f DSGVO. Die vor&uuml;bergehende Speicherung der IP-Adresse durch das System ist notwendig, um eine Auslieferung der Website an den Rechner des Nutzers zu erm&ouml;glichen. Hierf&uuml;r muss die IP-Adresse des Nutzers f&uuml;r die Dauer der Sitzung gespeichert bleiben. Die Speicherung in Logfiles erfolgt um die Funktionsf&auml;higkeit der Website sicherzustellen. Zudem dienen uns die Daten zur Optimierung der Website und zur Sicherstellung der Sicherheit unserer informationstechnischen Systeme. Eine Auswertung der Daten zu Marketingzwecken findet in diesem Zusammenhang nicht statt. Diese Zwecke stellen unser berechtigtes Interesse an der Datenverarbeitung gem. Art. 6 Abs. 1 lit. f DSGVO dar.</p>

    <p class="text-left text-secondary" lang="de">Die Daten werden gel&ouml;scht, sobald sie f&uuml;r die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind. Im Falle der Erfassung der Daten zur Bereitstellung der Website ist dies der Fall, wenn die jeweilige Sitzung beendet ist. Im Falle der Speicherung der Daten in Logfiles ist dies nach angemessener Frist der Fall. Eine dar&uuml;berhinausgehende Speicherung ist m&ouml;glich. In diesem Fall werden die IP-Adressen der Nutzer gel&ouml;scht oder verfremdet, sodass eine Zuordnung des anrufenden Clients nicht mehr m&ouml;glich ist.</p>

    <p class="text-left text-secondary" lang="de">Die Erfassung der Daten zur Bereitstellung der Website und die Speicherung der Daten in Logfiles ist f&uuml;r den Betrieb der Internetseite zwingend erforderlich. Es besteht folglich seitens des Nutzers keine Widerspruchsm&ouml;glichkeit.</p>

    <p class="text-left text-secondary" lang="de">&nbsp;</p>

    <p class="text-left text-secondary" lang="de"><strong>4.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Verwendung von Cookies</strong></p>

    <p class="text-left text-secondary" lang="de">F&uuml;r unsere Internetseiten verwenden wir an mehreren Stellen so genannte Cookies. Sie dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert. Die meisten der von uns verwendeten Cookies sind so genannte Session-Cookies. Sie werden nach Ende Ihres Besuchs automatisch gel&ouml;scht. Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren. In den Cookies werden dabei z.B. Spracheinstellungen gespeichert und &uuml;bermittelt.</p>

    <p class="text-left text-secondary" lang="de">Im Rahmen der Verwendung technisch notwendiger Cookies verarbeiten wir Ihre personenbezogenen Daten gem&auml;&szlig; Art. 6 Abs. 1 lit. f DSGVO.</p>

    <p class="text-left text-secondary" lang="de">Die Verwendung technisch notwendiger Cookies erfolgt zu dem Zweck, die Nutzung unserer Website f&uuml;r Sie einfacher zu gestalten. Einige Funktionen unserer Internetseite k&ouml;nnen ohne den Einsatz von Cookies nicht angeboten werden. Hierf&uuml;r ist es erforderlich, dass der Browser auch nach einem Seitenwechsel wiedererkannt wird. Wir ben&ouml;tigen Ihre Cookies z.B. f&uuml;r die &Uuml;bernahme von Spracheinstellungen.</p>

    <p class="text-left text-secondary" lang="de">Die durch technisch notwendige Cookies erhobenen Nutzerdaten werden nicht zur Erstellung von Nutzerprofilen verwendet.</p>

    <p class="text-left text-secondary" lang="de">Cookies werden auf Ihrem Rechner gespeichert und von diesem an unsere Seite &uuml;bermittelt. Daher haben Sie als Nutzer die volle Kontrolle &uuml;ber die Verwendung von Cookies. Durch eine &Auml;nderung der Einstellungen in Ihrem Internetbrowser k&ouml;nnen Sie die &Uuml;bertragung von Cookies deaktivieren oder einschr&auml;nken. Bereits gespeicherte Cookies k&ouml;nnen jederzeit gel&ouml;scht werden. Dies kann auch automatisiert erfolgen. Werden Cookies f&uuml;r unsere Website deaktiviert, k&ouml;nnen m&ouml;glicherweise nicht mehr alle Funktionen der Website vollumf&auml;nglich genutzt werden.</p>

    <p class="text-left text-secondary" lang="de">Beim Aufruf unserer Website werden Sie durch einen Infobanner &uuml;ber die Verwendung von Cookies informiert und auf diese Datenschutzerkl&auml;rung verwiesen. Die Rechtsgrundlage f&uuml;r die Verarbeitung personenbezogener Daten unter Verwendung von Cookies f&auml;llt unter Art. 6 Abs. 1 lit. f DSGVO.</p>

    <p class="text-left text-secondary" lang="de">&nbsp;</p>

    <p class="text-left text-secondary" lang="de"><strong>4.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Newsletter</strong></p>

    <p class="text-left text-secondary" lang="de">Auf unserer Internetseite besteht die M&ouml;glichkeit, einen kostenfreien Newsletter zu abonnieren. Dabei werden bei der Anmeldung zum Newsletter die Daten aus der Eingabemaske an uns &uuml;bermittelt.</p>

    <p class="text-left text-secondary" lang="de">Folgende Daten fragen wir zu diesem Zweck ab:</p>

    <ol>
        <li class="text-left text-secondary" >E-Mail-Adresse des Nutzers f&uuml;r den Versand</li>
    </ol>

    <p class="text-left text-secondary" lang="de">Zudem werden folgende Daten bei der Anmeldung erhoben:</p>

    <ol>
        <li class="text-left text-secondary" >Datum und Uhrzeit der Registrierung</li>
    </ol>

    <p class="text-left text-secondary" lang="de">F&uuml;r die Verarbeitung der Daten wird im Rahmen des Anmeldevorgangs Ihre Einwilligung eingeholt und auf diese Datenschutzerkl&auml;rung verwiesen. Hierzu erhalten Sie eine Best&auml;tigungs-E-Mail mit einem Aktivierungslink (Double-Opt-In-Verfahren). Erst nach der Aktivierung des Links werden Sie in den Newsletter-Verteiler aufgenommen.</p>

    <p class="text-left text-secondary" lang="de">Es erfolgt im Zusammenhang mit der Datenverarbeitung f&uuml;r den Versand von Newslettern keine Weitergabe der Daten an Dritte. Die Daten werden ausschlie&szlig;lich f&uuml;r den Versand des Newsletters verwendet.</p>

    <p class="text-left text-secondary" lang="de">Sofern Sie sich f&uuml;r den Newsletter angemeldet und damit Ihre Einwilligung bez&uuml;glich der Verarbeitung Ihrer Daten erkl&auml;rt haben, gilt Art. 6 Abs. 1 lit. a DSGVO als Rechtsgrundlage hierf&uuml;r.&nbsp;</p>

    <p class="text-left text-secondary" lang="de">Die Erhebung Ihrer E-Mail-Adresse dient dazu, den Newsletter zuzustellen. Die Erhebung sonstiger personenbezogener Daten im Rahmen des Anmeldevorgangs dient dazu, Sie pers&ouml;nlich anzusprechen (Anrede, Name) und um einen Missbrauch der Dienste oder der verwendeten E-Mail-Adresse zu verhindern (IP Adresse). Die Daten werden gel&ouml;scht, sobald sie f&uuml;r die Erreichung des Zwecks ihrer Erhebung nicht mehr erforderlich sind. Ihre Daten werden demnach solange gespeichert, wie das Abonnement des Newsletters aktiv ist. Sofern der Aktivierungslink nicht best&auml;tigt wird, werden alle personenbezogenen Daten nach 30&nbsp;Tagen gel&ouml;scht.</p>

    <p class="text-left text-secondary" lang="de">Das Abonnement des Newsletters kann durch Sie jederzeit gek&uuml;ndigt werden. Zu diesem Zweck befindet sich in jedem Newsletter ein entsprechender Link. Hierdurch wird ebenfalls ein Widerruf der Einwilligung zur Speicherung der w&auml;hrend des Anmeldevorgangs erhobenen personenbezogenen Daten erm&ouml;glicht.</p>

    <p class="text-left text-secondary" lang="de">Wenn Sie Waren oder Dienstleistungen erwerben und hierbei Ihre E-Mail-Adresse hinterlegen, kann diese in der Folge durch uns f&uuml;r den Versand eines Newsletters verwendet werden. In einem solchen Fall wird &uuml;ber den Newsletter ausschlie&szlig;lich Direktwerbung f&uuml;r eigene &auml;hnliche Waren oder Dienstleistungen versendet. Im Zusammenhang mit der Datenverarbeitung f&uuml;r den Versand von Newslettern erfolgt keine Weitergabe der Daten an Dritte. Die Daten werden ausschlie&szlig;lich f&uuml;r den Versand des Newsletters verwendet. Rechtsgrundlage f&uuml;r den Versand des Newsletters infolge des Verkaufs von Waren oder Dienstleistungen ist &sect; 7 Abs. 3 UWG. Die Erhebung Ihrer E-Mail-Adresse dient dazu, den Newsletter zuzustellen.</p>

    <p class="text-left text-secondary" lang="de">Ihre Daten werden gel&ouml;scht, sobald sie f&uuml;r die Erreichung des Zwecks ihrer Erhebung nicht mehr erforderlich sind. Ihre E-Mail-Adresse wird demnach solange gespeichert, wie das Abonnement des Newsletters aktiv ist.</p>

    <p class="text-left text-secondary" lang="de">Das Abonnement des Newsletters kann durch Sie als Nutzer jederzeit gek&uuml;ndigt werden. Zu diesem Zweck befindet sich in jedem Newsletter ein entsprechender Link.</p>

    <p class="text-left text-secondary" lang="de"><strong>4.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Registrierung auf der Internetseite </strong></p>

    <p class="text-left text-secondary" lang="de">Auf unserer Internetseite bieten wir Ihnen die M&ouml;glichkeit, uns unter Angabe personenbezogener Daten zu kontaktieren oder einen unserer bereitgestellten Services zu nutzen. Die Daten werden dabei in ein Webformular eingegeben und an uns &uuml;bermittelt und gespeichert. Diese Services sind z.B.</p>

    <ul>
        <li class="text-left text-secondary" >Registrierung zur Nutzung der kostenlosen Aufgabenverwaltung</li>
    </ul>

    <p class="text-left text-secondary" lang="de">&nbsp;Eine Weitergabe der Daten an Dritte findet nicht statt. &nbsp;</p>

    <p class="text-left text-secondary" lang="de">Folgende personenbezogenen Daten werden f&uuml;r die Ausf&uuml;hrung abgefragt:</p>

    <p class="text-left text-secondary" lang="de">Anrede, Name, E-Mailadresse, ggfs. Anschrift und&nbsp;Telefonnummer &nbsp;</p>

    <p class="text-left text-secondary" lang="de">Zum&nbsp;Zeitpunkt der Registrierung werden zudem folgende Daten gespeichert:</p>

    <ol>
        <li class="text-left text-secondary" >Datum und Uhrzeit der Registrierung</li>
    </ol>

    <p class="text-left text-secondary" lang="de">Im Rahmen des Absendeprozesses wird Ihre Einwilligung zur Verarbeitung dieser Daten eingeholt. Rechtsgrundlage f&uuml;r die Verarbeitung Ihrer Daten ist bei Vorliegen einer Einwilligung Art. 6 Abs. 1 lit. a DSGVO.</p>

    <p class="text-left text-secondary" lang="de">Ihre Registrierung ist f&uuml;r das Bereithalten bestimmter Inhalte und Leistungen auf unserer Website erforderlich, um den Zweck Ihrer Anfrage zu erf&uuml;llen, z.B. zum Versand eines Dokumentes, zum Versand von Zugangsdaten f&uuml;r die Sloth Website.</p>

    <p class="text-left text-secondary" lang="de">Die Daten werden gel&ouml;scht, sobald sie f&uuml;r die Erreichung des Zwecks ihrer Erhebung nicht mehr erforderlich sind, au&szlig;er Sloth ist gesetzlich verpflichtet, diese weiterhin zu speichern. Als Nutzer haben Sie jederzeit die M&ouml;glichkeit, Widerspruch einzulegen. Ein Widerspruch kann dazu f&uuml;hren, dass Sloth bestimmte Services nicht mehr zur Verf&uuml;gung stellen kann.</p>

    <p class="text-left text-secondary" lang="de">Ihre Registrierung ist zur Erf&uuml;llung eines Vertrages mit Ihnen oder zur Durchf&uuml;hrung vorvertraglicher Ma&szlig;nahmen erforderlich.</p>

    <p class="text-left text-secondary" lang="de">Damit wir Ihnen eine kostenlose Version von Sloth bereitstellen k&ouml;nnen, bitten wir Sie um die Best&auml;tigung der Nutzungsbedingungen, dieser Datenschutzbestimmung&nbsp;und eines Auftragsdatenverarbeitungsvertrages. Hierzu ben&ouml;tigen wir von Ihnen folgende Daten:</p>

    <ul>
        <li class="text-left text-secondary" >E-Mailadresse</li>
    </ul>

    <p class="text-left text-secondary" lang="de">Die Daten werden gel&ouml;scht, sobald sie f&uuml;r die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind. Dies ist f&uuml;r die w&auml;hrend des Registrierungsvorgangs erhobenen Daten zur Erf&uuml;llung eines Vertrages oder zur Durchf&uuml;hrung vorvertraglicher Ma&szlig;nahmen dann der Fall, wenn die Daten f&uuml;r die Durchf&uuml;hrung des Vertrages nicht mehr erforderlich sind. Auch nach Abschluss des Vertrages kann eine Erforderlichkeit, personenbezogene Daten des Vertragspartners zu speichern, bestehen, vertraglichen oder gesetzlichen Verpflichtungen nachzukommen.</p>

    <p class="text-left text-secondary" lang="de">Als Nutzer haben Sie jederzeit die M&ouml;glichkeit, die gespeicherten Daten zu l&ouml;schen oder ab&auml;ndern zu lassen. Bitte kontaktieren Sie dazu unseren Datenschutzkoordinator unter <a href="mailto:datenschutz@Sloth.de?subject=Datenschutz%20-%20%C3%84nderung%20meiner%20in%20BIC%20Cloud%20gespeicherten%20Daten">datenschutz@Sloth.de</a></p>

    <p class="text-left text-secondary" lang="de">Sind die Daten zur Erf&uuml;llung eines Vertrages oder zur Durchf&uuml;hrung vorvertraglicher Ma&szlig;nahmen erforderlich, ist eine vorzeitige L&ouml;schung der Daten nur m&ouml;glich, soweit nicht vertragliche oder gesetzliche Verpflichtungen einer L&ouml;schung entgegenstehen.</p>

    <p class=text-left text-secondary" lang="de"><strong>4.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Kontaktformular und E-Mail-Kontakt </strong></p>"

    <p class="text-left text-secondary" lang="de">F&uuml;r die Verarbeitung Ihrer Daten wird im Rahmen des Absendevorgangs Ihre Einwilligung eingeholt und auf diese Datenschutzerkl&auml;rung verwiesen.</p>

    <p class="text-left text-secondary" lang="de">Alternativ ist eine Kontaktaufnahme &uuml;ber die bereitgestellte E-Mail-Adresse m&ouml;glich. In diesem Fall werden die mit Ihrer E-Mail &uuml;bermittelten personenbezogenen Daten gespeichert. Es erfolgt in diesem Zusammenhang keine Weitergabe der Daten an Dritte. Die Daten werden ausschlie&szlig;lich f&uuml;r die Verarbeitung der Konversation verwendet. Rechtsgrundlage f&uuml;r die Verarbeitung der Daten ist bei Vorliegen Ihrer Einwilligung Art. 6 Abs. 1 lit. a DSGVO.</p>

    <p class="text-left text-secondary" lang="de">Rechtsgrundlage f&uuml;r die Verarbeitung der Daten, die im Zuge einer &Uuml;bersendung einer E-Mail &uuml;bermittelt werden, ist Art. 6 Abs. 1 lit. f DSGVO. Zielt der E-Mail-Kontakt auf den Abschluss eines Vertrages ab, so ist zus&auml;tzliche Rechtsgrundlage f&uuml;r die Verarbeitung Art. 6 Abs. 1 lit. b DSGVO.</p>

    <p class="text-left text-secondary" lang="de">Die Verarbeitung der personenbezogenen Daten auf der Eingabemaske dient uns allein zur Bearbeitung der Kontaktaufnahme. Im Falle einer Kontaktaufnahme per E-Mail liegt hierin auch das erforderliche berechtigte Interesse an der Verarbeitung der Daten. Die sonstigen w&auml;hrend des Absendevorgangs verarbeiteten personenbezogenen Daten dienen dazu, einen Missbrauch des Kontaktformulars zu verhindern und die Sicherheit unserer informationstechnischen Systeme sicherzustellen.</p>

    <p class="text-left text-secondary" lang="de">Die Daten werden gel&ouml;scht, soweit sie f&uuml;r die Erreichung des Zwecks ihrer Erhebung nicht mehr erforderlich sind. F&uuml;r die personenbezogenen Daten aus der Eingabemaske des Kontaktformulars und diejenigen, die per E-Mail &uuml;bersandt wurden, ist dies dann der Fall, wenn die jeweilige Konversation mit Ihnen als Nutzer beendet ist. Dies ist dann der Fall, wenn sich aus den Umst&auml;nden entnehmen l&auml;sst, dass der betroffene Sachverhalt abschlie&szlig;end gekl&auml;rt ist. Die w&auml;hrend des Absendevorgangs zus&auml;tzlich erhobenen personenbezogenen Daten werden sp&auml;testens nach einer Frist von 7 Tagen gel&ouml;scht.</p>

    <p class="text-left text-secondary" lang="de">Sie haben jederzeit die M&ouml;glichkeit, Ihre Einwilligung zur Verarbeitung der personenbezogenen Daten zu widerrufen. Nehmen Sie per E-Mail Kontakt mit uns auf, so k&ouml;nnen Sie der Speicherung Ihrer personenbezogenen Daten jederzeit widersprechen. In einem solchen Fall kann die Konversation nicht fortgef&uuml;hrt werden.</p>

    <p class="text-left text-secondary" lang="de">Der Widerruf ist zu richten an: <a href="mailto:datenschutz@Sloth.de?subject=Datenschutz">datenschutz@Sloth.de</a>.Alle personenbezogenen Daten, die im Zuge der Kontaktaufnahme gespeichert wurden, werden in diesem Fall gel&ouml;scht.</p>

    <p class="text-left text-secondary" lang="de"><strong>4.7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Google Analytics</strong></p>

    <p class="text-left text-secondary" lang="de">Diese Website benutzt Google Analytics einschlie&szlig;lich der Google Analytics-Werbefunktionen. Dabei handelt es sich um einen Webanalysedienst der Google Inc. (&bdquo;Google&ldquo;). Google Analytics verwendet sog. &bdquo;Cookies&ldquo;, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie erm&ouml;glichen.</p>

    <p class="text-left text-secondary" lang="de">Google Analytics wird ausschlie&szlig;lich mit aktivierter IP-Anonymisierung einsetzt (sog. IP-Masking). Dies bedeutet, dass die IP-Adresse der Nutzer von Google innerhalb von Mitgliedstaaten der Europ&auml;ischen Union oder in anderen Vertragsstaaten des Abkommens &uuml;ber den Europ&auml;ischen Wirtschaftsraum gek&uuml;rzt wird. Nur in Ausnahmef&auml;llen, wenn es z.B. zu technischen Ausf&auml;llen in Europa kommt, wird die volle IP-Adresse an einen Server von Google in den USA &uuml;bertragen und dort gek&uuml;rzt.</p>

    <p class="text-left text-secondary" lang="de">Bei der von Google verwendeten IP-Anonymisierungsmethode wird die vollst&auml;ndige IP-Adresse zu keinem Zeitpunkt auf eine Festplatte geschrieben, da die gesamte Anonymisierung fast unmittelbar nach Erhalt der Anforderung im Arbeitsspeicher erfolgt.</p>

    <p class="text-left text-secondary" lang="de">Die von dem Browser des Nutzers &uuml;bermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengef&uuml;hrt.</p>

    <p class="text-left text-secondary" lang="de">Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports &uuml;ber die Websiteaktivit&auml;ten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen, insbesondere auch Funktionen f&uuml;r Display-Werbung sowie Google Analytics-Berichte zur Leistung nach demografischen Merkmalen und Interessen gegen&uuml;ber dem Websitebetreiber zu erbringen.</p>

    <p class="text-left text-secondary" lang="de">Auch wird Google diese Informationen gegebenenfalls an Dritte &uuml;bertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Hierbei wird es sich in keinem Fall um personenbezogene Daten handeln.</p>

    <p class="text-left text-secondary" lang="de">In den Google Analytics-Berichten zur Leistung nach demografischen Merkmalen und Interessen werden &uuml;ber interessenbezogene Werbung von Google erlangte Daten und Besucherdaten von Drittanbietern (wie z.B. Altersgruppen, oder Interessensgruppen) verwendet.</p>

    <p class="text-left text-secondary" lang="de">Sie k&ouml;nnen die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht s&auml;mtliche Funktionen dieser Website vollumf&auml;nglich werden nutzen k&ouml;nnen. Alternativ k&ouml;nnen Sie das&nbsp;folgende Browser-Plug-in herunterladen und installieren: <a href="http://tools.google.com/dlpage/gaoptout?hl=de" target="_blank">http://tools.google.com/dlpage/gaoptout?hl=de</a>.</p>

    <p class="text-left text-secondary" lang="de">N&auml;here Informationen zu Nutzungsbedingungen und Datenschutz finden Sie unter <a href="https://www.google.de/analytics/terms/de.html">https://www.google.de/analytics/terms/de.html</a> bzw. unter https://<a href="https://www.google.de/intl/de/policies/">www.google.de/intl/de/policies/</a>.</p>

    <p class="text-left text-secondary" lang="de">&nbsp;</p>

    <p class="text-left text-secondary" lang="de"><strong>4.8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Weitergabe Ihrer Daten</strong></p>

    <p class="text-left text-secondary" lang="de">Sloth gibt Ihre personenbezogenen Daten nicht an Dritte weiter, au&szlig;er dies wird zur Abwicklung des Gesch&auml;ftsverkehres ben&ouml;tigt.</p>

    <p class="text-left text-secondary" lang="de">In einigen F&auml;llen erfolgt unsere eigene Datenverarbeitung durch externe Dienstleister (Unternehmen), die von uns beauftragt sind, Daten f&uuml;r uns weisungsgebunden zu verarbeiten. Befinden sich diese Dienstleister in Deutschland, werden sie von uns nach den strengen Vorgaben der DSGVO und des Bundesdatenschutzgesetzes schriftlich verpflichtet und d&uuml;rfen die Daten zu keinen anderen Zwecken weiterverwenden.</p>

    <p class="text-left text-secondary" lang="de">Durch die Nutzung der der Website bzw. Eingabe Ihrer Daten auf der Website kann es unter Umst&auml;nden &ndash; im Rahmen der Nutzung der Website je nachdem, welche Server-Adresse durch Vereinbarung zwischen Ihnen und uns festgelegt wurde &ndash; zu einer &Uuml;bermittlung personenbezogener Daten an ein unsicheres Drittland (z.B. USA) kommen.</p>

    <p class="text-left text-secondary" lang="de">Wir arbeiten in dieser Hinsicht ausschlie&szlig;lich mit solchen Subauftragnehmern zusammen, die gem&auml;&szlig; der DIN/ISO-Norm 27001 zertifiziert sind. Die &Uuml;bermittlung der Daten st&uuml;tzt sich stets auf EU-Standardvertragsklauseln, die zwischen der Sloth und dem Subunternehmer vereinbart werden. Des Weiteren legen wir Wert darauf, dass unsere Subunternehmer &ndash; sofern sie aus den USA kommen &ndash; eine Privacy-Shield-Zertifizierung besitzen.</p>

    <p class="text-left text-secondary" lang="de">Sollten Sie die Webiste nutzen und weitere Informationen hierzu ben&ouml;tigen, so stellen wir Ihrem Datenschutzbeauftragten nach einer schriftlichen Anfrage unter <a href="mailto:datenschutz@Sloth.de?subject=Datenschutz%20">datenschutz@Sloth.de</a> per E-Mail gerne eine zugangsgesch&uuml;tzte Liste unserer Subunternehmer zur Verf&uuml;gung. Die Liste enth&auml;lt Name und Anschrift der Subunternehmer sowie eine Kurzbeschreibung der erbrachten Dienstleistungen. &Uuml;ber nachfolgende &Auml;nderungen der Liste (z.B. Auswechslung des Subunternehmers) werden wir Ihren Datenschutzbeauftragen sodann fortfolgend per E-Mail informieren. Ihr betrieblicher Datenschutzbeauftragter ist zudem berechtigt, auf schriftliche Anforderung hin per E-Mail Auskunft &uuml;ber die wesentlichen datenschutzrelevanten Vertragsbedingungen unserer Subunternehmer zu erhalten, sofern Sie die BIC Cloud nutzen.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

    <p class="text-left text-secondary" lang="de">Die &uuml;bermittelten Daten sind stets auf das erforderliche Minimum beschr&auml;nkt.</p>

    <p class="text-left text-secondary" lang="de">Sloth schlie&szlig;t zudem Partnerschaften mit anderen Unternehmen ab, um Produkte und Services gemeinsam anbieten zu k&ouml;nnen. Sollten Sie solche Produkte oder Services erwerben oder ausdr&uuml;cklich Interesse an weiterf&uuml;hrenden Informationen dar&uuml;ber bekunden, kann die Sloth Software + Consulting AG die im Rahmen des Kaufs/ der Miete oder Interessenbekundung angegebenen Daten an ihre Gesch&auml;ftspartner weiterleiten. Es liegt nicht im Verantwortungsbereich der Sloth Software + Consulting AG, die Nutzung Ihrer Daten durch unsere Gesch&auml;ftspartner zu kontrollieren. Die Verwendung dieser Daten unterliegt &uuml;berdies den Datenschutzrichtlinien der jeweiligen Partner. Wenn Sie nicht w&uuml;nschen, dass Ihre Daten auf diese Weise weitergegeben werden, k&ouml;nnen Sie entscheiden, gemeinsam angebotene Produkte und Services nicht zu nutzen bzw. ausdr&uuml;cklich kein Interesse an weiteren Informationen bekunden.</p>

    <p class="text-left text-secondary" lang="de">Soweit Sloth gesetzlich oder per Gerichtsbeschluss zur Herausgabe Ihrer Daten verpflichtet wird, geben wir Ihre Daten nur an auskunftsberechtigte staatliche Institutionen und Beh&ouml;rden weiter.</p>

    <h4 class="text-left ml-1">5.&nbsp;&nbsp;Welche Rechte k&ouml;nnen Sie geltend machen?</h4>

    <p class="text-left text-secondary" lang="de">Jede betroffene Person hat das Recht auf Auskunft nach Artikel 15 DSGVO, das Recht auf Berichtigung nach Artikel 16 DSGVO, das Recht auf L&ouml;schung nach Artikel 17 DSGVO, das Recht auf Einschr&auml;nkung der Verarbeitung nach Artikel 18 DSGVO, das Recht auf Widerspruch aus Artikel 21 DSGVO sowie das Recht auf Daten&uuml;bertragbarkeit aus Artikel 20 DSGVO. Beim Auskunftsrecht und beim L&ouml;schungsrecht gelten die Einschr&auml;nkungen nach &sect;&sect; 34 und 35 BDSG. Dar&uuml;ber hinaus besteht ein Beschwerderecht bei einer zust&auml;ndigen Datenschutzaufsichtsbeh&ouml;rde (Artikel 77 DSGVO i.V.m. &sect; 19 BDSG).</p>

    <p class="text-left text-secondary" lang="de">Eine erteilte Einwilligung in die Verarbeitung personenbezogener Daten k&ouml;nnen Sie jederzeit uns gegen&uuml;ber widerrufen. Dies gilt auch f&uuml;r den Widerruf von Einwilligungserkl&auml;rungen, die vor der Geltung der DSGVO, also vor dem 25. Mai 2018, uns gegen&uuml;ber erteilt worden sind. Bitte beachten Sie, dass der Widerruf erst f&uuml;r die Zukunft wirkt. Verarbeitungen, die vor dem Widerruf erfolgt sind, sind davon nicht betroffen.</p>

    <p class="text-left text-secondary" lang="de">Bitte wenden Sie sich diesbez&uuml;glich gerne an unseren Datenschutzbeauftragten</p>

    <h4 class="text-left ml-1">6.&nbsp;Muss ich meine personenbezogenen Daten zur Verf&uuml;gung stellen?</h4>

    <p class="text-left text-secondary" lang="de">Im Rahmen unserer Gesch&auml;ftsbeziehung m&uuml;ssen Sie diejenigen personenbezogenen Daten bereitstellen, die f&uuml;r die Aufnahme und Durchf&uuml;hrung einer Gesch&auml;ftsbeziehung und die Erf&uuml;llung der damit verbundenen vertraglichen Pflichten erforderlich sind oder zu deren Erhebung wir gesetzlich verpflichtet sind. Ohne diese Daten werden wir in der Regel den Abschluss des Vertrages oder die Ausf&uuml;hrung des Auftrages ablehnen m&uuml;ssen oder einen bestehenden Vertrag nicht mehr durchf&uuml;hren k&ouml;nnen und gegebenenfalls beenden m&uuml;ssen.</p>

    <h4 class="text-left ml-1">7.&nbsp;Gibt es eine automatisierte Entscheidungsfindung?</h4>
    
    <p class="text-left text-secondary" lang="de">Nein. Derzeit benutzen wir zur Begr&uuml;ndung und Durchf&uuml;hrung der Gesch&auml;ftsbeziehungen keine vollautomatisierte Entscheidungsfindung gem&auml;&szlig; Art. 22 DSGVO. Ein &bdquo;Profiling&ldquo; findet nicht statt.</p>

    <h4 class="text-left ml-1">8.&nbsp;Informationen &uuml;ber Ihr Widerspruchsrecht nach Artikel 21 DSGVO</h4>

    <p class="text-left text-secondary" lang="de"><em>Einzelfallbezogenes Widerspruchsrecht</em></p>

    <p class="text-left text-secondary" lang="de">Sie haben das Recht, aus Gr&uuml;nden, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung Sie betreffender personenbezogener Daten, die aufgrund von Artikel 6 Absatz 1 lit. e DSGVO (Datenverarbeitung im &ouml;ffentlichen Interesse) und Artikel 6 Absatz 1 lit. f DSGVO (Datenverarbeitung auf der Grundlage einer Interessenabw&auml;gung) erfolgt, Widerspruch einzulegen; dies gilt auch f&uuml;r ein auf diese Bestimmung gest&uuml;tztes Profiling im Sinne von Artikel 4 Nr. 4 DSGVO.</p>

    <p class="text-left text-secondary" lang="de">Legen Sie Widerspruch ein, werden wir Ihre personenbezogenen Daten nicht mehr verarbeiten, es sei denn, wir k&ouml;nnen zwingende berechtigte Gr&uuml;nde f&uuml;r die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten &uuml;berwiegen, oder die Verarbeitung dient der Geltendmachung, Aus&uuml;bung oder Verteidigung von Rechtsanspr&uuml;chen.</p>

    <p class="text-left text-secondary" lang="de"><em>Widerspruchsrecht gegen eine Verarbeitung von Daten f&uuml;r Zwecke der Direktwerbung</em></p>

    <p class="text-left text-secondary" lang="de">In Einzelf&auml;llen verarbeiten wir Ihre personenbezogenen Daten, um Direktwerbung zu betreiben. Sie haben das Recht, jederzeit Widerspruch gegen die Verarbeitung Sie betreffender personenbezogener Daten zum Zwecke derartiger Werbung einzulegen; dies gilt auch f&uuml;r das Profiling, soweit es mit solcher Direktwerbung in Verbindung steht. Widersprechen Sie der Verarbeitung f&uuml;r Zwecke der Direktwerbung, so werden wir Ihre personenbezogenen Daten nicht mehr f&uuml;r diese Zwecke verarbeiten.</p>

    <p class="text-left text-secondary" lang="de"><em>Empf&auml;nger des Widerspruchs</em></p>

    <p class="text-left text-secondary" lang="de">Der Widerspruch kann formfrei mit dem Betreff &bdquo;Widerspruch&ldquo; unter Angabe Ihres Namens, Ihrer Adresse und Ihres Geburtsdatums erfolgen und sollte gerichtet werden an:</p>

    <p class="text-left text-secondary" lang="de">E-Mail: <a href="mailto:datenschutz@Sloth.de?subject=Datenschutz%20-%20Widerspruch">datenschutz@Sloth.de</a></p>

    <h4 class="text-left ml-1">9.&nbsp;&nbsp;Weitere Informationen</h4>

    <p class="text-left text-secondary" lang="de">Wenn Sie Informationen w&uuml;nschen, die Ihnen diese Datenschutzerkl&auml;rung nicht geben kann oder wenn Sie zu einem bestimmten Punkt weitere Ausk&uuml;nfte w&uuml;nschen, wenden Sie sich bitte an unseren Datenschutzbeauftragten. Dieser hilft Ihnen gerne weiter.</p>

    <h4 class="text-left ml-1">10.&nbsp;&nbsp;Urheberrecht</h4>

    <p class="text-left text-secondary" lang="de">Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielf&auml;ltigung, Bearbeitung, Verbreitung und jede Art der Verwertung au&szlig;erhalb der Grenzen des Urheberrechtes bed&uuml;rfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur f&uuml;r den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>

    <p class="text-left text-secondary" lang="de"><strong>Stand: 01.09.2018</strong><!--![endif]--><!--![endif]--><!--![endif]--><!--![if--><!--![if--><!--![if--></p>
</div>
