<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Sloth</title>
</head>
<body>
    <div class="container col-10 p-5 text-center">
        <h1 class="font-weight-bold text-center font-weight-bold">Schade, dass du uns verlässt!</h1>
        <p class="font-weight-normal text-secondary text-center p-4 sub_small">Es ist schade, dass du nicht mehr Teil unserer Community sein möchtest,
            obwohl noch so viele spannende Entwicklungen auf uns warten.</br> Wir würden uns freuen, wenn du uns ein letztes Feedback da lässt, damit wir wissen, weshalb du gehst :(.</p>
        <a href="{% url 'todo:login' %}" class="btn btn-primary mx-atuo">Zurück</a>
    </div>
</body>
</html>
