{% extends 'todo/base.html'%}

{% block body %}
    {% load staticfiles %}
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


<link rel="stylesheet" href="{% static 'todo/styleStats.css' %}" type="text/css"/>
    <div class="container-fluid mx-auto">
        <!-- Headline für sektion -->
        <div class="row">
            <div class="panel panel-primary p-4 rounded col-10 mx-auto">
                <h3>Anteile offener Aufgaben</h3>
            </div>
        </div>
        <!-- task key values-->
        <div class="panel panel-primary p-4 rounded col-10 mx-auto border-bottom">
            <div class="row text-center">
                <div class="col-lg-3 col-md-12">
                    <!--Input für die Charts-->
                    {% include 'todo/js.html' %}
                    <canvas id="wd"></canvas>
                    <div class="donut-inner">
                        <p class="effort">{{per1}}%</p>
                    </div>
                    <h5 class="text-center text-secondary">Wichtig und dringend</h5>
                    <script>
                    var ctx = document.getElementById("wd").getContext('2d');
                    var data = {
                    datasets: [
                        {
                            data: [{{per1}},100-{{per1}}],
                            backgroundColor: [
                                "rgba(10, 128, 226, 1)",
                                "rgba(204, 204, 204, 0.5)",
                            ],
                            hoverBackgroundColor: [
                                "rgba(36, 112, 250, 1)",
                                "rgba(0, 0, 0, 0)",
                            ],
                            hoverBorderColor: [,"rgba(0, 0, 0, 0)"]
                        }]
                    };

                    var myChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: data,
                        options: {
                          legend: {
                            display: false
                          },
                          tooltips: {
                            enabled: false
                          },
                          cutoutPercentage: 80,
                        }
                    });
                    </script>
                </div>
                <div class="col-lg-3 col-md-12">
                    <!--Input für die Charts-->
                    {% include 'todo/js.html' %}
                    <canvas id="wnd"></canvas>
                    <div class="donut-inner">
                        <p class="effort">{{per2}}%</p>
                    </div>
                    <h5 class="text-center text-secondary">Wichtig aber nicht dringend</h5>
                    <script>
                    var ctx = document.getElementById("wnd").getContext('2d');
                    var data = {
                    datasets: [
                        {
                            data: [{{per2}},100-{{per2}}],
                            backgroundColor: [
                                "rgba(10, 128, 226, 1)",
                                "rgba(204, 204, 204, 0.5)",
                            ],
                            hoverBackgroundColor: [
                                "rgba(36, 112, 250, 1)",
                                "rgba(0, 0, 0, 0)",
                            ],
                            hoverBorderColor: [,"rgba(0, 0, 0, 0)"]
                        }]
                    };

                    var myChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: data,
                        options: {
                          legend: {
                            display: false
                          },
                          tooltips: {
                            enabled: false
                          },
                          cutoutPercentage: 80,
                        }
                    });
                    </script>
                </div>
                <div class="col-lg-3 col-md-12">
                    <!--Input für die Charts-->
                    {% include 'todo/js.html' %}
                    <canvas id="nwd"></canvas>
                    <div class="donut-inner">
                        <p class="effort">{{per3}}%</p>
                    </div>
                    <h5 class="text-center text-secondary">Dringend aber nicht Wichtig</h5>
                    <script>
                    var ctx = document.getElementById("nwd").getContext('2d');
                    var data = {
                    datasets: [
                        {
                            data: [{{per3}},100-{{per3}}],
                            backgroundColor: [
                                "rgba(10, 128, 226, 1)",
                                "rgba(204, 204, 204, 0.5)",
                            ],
                            hoverBackgroundColor: [
                                "rgba(36, 112, 250, 1)",
                                "rgba(0, 0, 0, 0)",
                            ],
                            hoverBorderColor: [,"rgba(0, 0, 0, 0)"]
                        }]
                    };

                    var myChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: data,
                        options: {
                          legend: {
                            display: false
                          },
                          tooltips: {
                            enabled: false
                          },
                          cutoutPercentage: 80,
                        }
                    });
                    </script>
                </div>
                <div class="col-lg-3 col-md-12">
                    <!--Input für die Charts-->
                    {% include 'todo/js.html' %}
                    <canvas id="nwnd"></canvas>
                    <div class="donut-inner">
                        <p class="effort">{{per4}}%</p>
                    </div>
                    <h5 class="text-center text-secondary">Weder Wichtig noch Dringend</h5>
                    <script>
                    var ctx = document.getElementById("nwnd").getContext('2d');
                    var data = {
                    datasets: [
                        {
                            data: [{{per4}},100-{{per4}}],
                            backgroundColor: [
                                "rgba(10, 128, 226, 1)",
                                "rgba(204, 204, 204, 0.5)",
                            ],
                            hoverBackgroundColor: [
                                "rgba(36, 112, 250, 1)",
                                "rgba(0, 0, 0, 0)",
                            ],
                            hoverBorderColor: [,"rgba(0, 0, 0, 0)"]
                        }]
                    };

                    var myChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: data,
                        options: {
                          legend: {
                            display: false
                          },
                          tooltips: {
                            enabled: false
                          },
                          cutoutPercentage: 80,
                        }
                    });
                    </script>
                </div>
            </div>
        </div>
        <!-- Headline für sektion -->
        <div class="row">
            <div class="panel panel-primary p-4 rounded col-10 mx-auto">
                <h3>Übersicht der Aufgabenabschlüsse</h3>
            </div>
        </div>
        <!-- Table-->
        <div class="row mx-auto">
            <div class="panel panel-primary p-4 rounded col-lg-10 col-md-12 mx-auto border-bottom">
                <div class="box">
                    <div class="table-responsive">
                      <table class="table table-hover">
                          <thead class="text-center table-borderless" id="thead">
                                <tr>
                                    <th scope="col">Status</th>
                                    <th scope="col" colspan="2">Heute</th>
                                    <th scope="col" colspan="2">Letzte Woche</th>
                                    <th scope="col" colspan="2">Letzter Monat</th>
                                    <th scope="col" colspan="2">Total</th>
                                </tr>
                                <tr>
                                    <th scope="col" colspan="1">Angabe</th>
                                    <th scope="col" colspan="1">Absolute</th>
                                    <th scope="col" colspan="1">%</th>
                                    <th scope="col" colspan="1">Absolute</th>
                                    <th scope="col" colspan="1">%</th>
                                    <th scope="col" colspan="1">Absolute</th>
                                    <th scope="col" colspan="1">%</th>
                                    <th scope="col" colspan="1">Absolute</th>
                                    <th scope="col" colspan="1">%</th>
                                </tr>
                          </thead>
                          <tbody class="text-center">
                                <tr>
                                    <th scope="row">Abschlüsse</th>
                                    <td>{{done}}</td>
                                    <td>100%</td>
                                    <td>{{done_week}}</td>
                                    <td>100%</td>
                                    <td>{{done_month}}</td>
                                    <td>100%</td>
                                    <td>{{done_total}}</td>
                                    <td>100%</td>
                                </tr>
                                <tr>
                                    <th scope="row">nach DL</th>
                                    <td>{{dl}}</td>
                                    <td>{{dl_perc}}%</td>
                                    <td>{{dl_week}}</td>
                                    <td>{{dl_perc_week}}%</td>
                                    <td>{{dl_month}}</td>
                                    <td>{{dl_perc_month}}%</td>
                                    <td>{{dl_total}}</td>
                                    <td>{{dl_perc_total}}%</td>
                                </tr>
                                <tr>
                                    <th scope="row">Verschoben</th>
                                    <td>{{shift}}</td>
                                    <td> </td>
                                    <td>{{shift_week}}</td>
                                    <td> </td>
                                    <td>{{shift_month}}</td>
                                    <td> </td>
                                    <td>{{shift_total}}</td>
                                    <td> </td>
                                </tr>
                          </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Headline für sektion -->
        <div class="row">
            <div class="panel panel-primary p-4 rounded col-10 mx-auto">
                <h3>Verteilung der Aufgabenabschlüsse</h3>
            </div>
        </div>
        <!-- Scatter chart-->
        <div class="row">
            <div class="panel panel-primary p-4 rounded col-lg-10 col-md-12 mx-auto border-bottom">
                <div class="box">
                    <canvas id="bubble-chart" width="200" height="100"></canvas>
                    <script>
                    new Chart(document.getElementById("bubble-chart"), {
                        type: 'scatter',
                        data: {
                          datasets: [
                            {
                              backgroundColor: "rgba(10, 128, 226, 0.3)",
                              borderColor: "rgba(10, 128, 226,1)",
                              label: 'abgeschlossene Aufgabe',
                              data: [{% for dict in  bubble %}
                                {
                                x:{{dict.0}},
                                y:{{dict.1}}
                                },
                                {% endfor %}]
                            }
                          ]
                        },
                        options: {
                          title: {
                            display: true,
                            text: ''
                          }, scales: {
                            yAxes: [{
                              scaleLabel: {
                                display: true,
                                labelString: "Wichtigkeit"
                              }
                            }],
                            xAxes: [{
                              scaleLabel: {
                                display: true,
                                labelString: "- vor der Deadline / null = Deadline / + nach Deadline"
                              }
                            }]
                          }
                        }
                    });
                    </script>
                </div>
            </div>
        </div>
        <!-- Headline für sektion -->
        <div class="row">
            <div class="panel panel-primary p-4 rounded col-10 mx-auto">
                <h3>Aktivität der letzten Zeit</h3>
            </div>
        </div>
        <!-- Time chart-->
        <div class="row mx-auto">
            <div class="panel panel-primary p-4 rounded col-10 mx-auto">
                <div class="row">
                    <div class="container col-lg-6 col-md-12">
                        <h5>Aktivität Letzte Woche</h5>
                        <canvas id="lastw" width="10rem"></canvas>
                        <script>
                    var speedCanvas = document.getElementById("lastw");
                    speedCanvas.height = 3;

                    Chart.defaults.global.defaultFontFamily = "Lato";
                    Chart.defaults.global.defaultFontSize = 18;

                    var Data = {
                      labels: ['Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa', 'So'],
                      datasets: [{
                        label: "Aufgabenabschlüsse",
                        data: {{ df_week_values }},
                        backgroundColor: [
                            'rgba(20, 95, 190, 0.2)',
                        ],
                        borderColor: [
                            'rgba(20, 95, 190, 1)',
                        ],
                      }]
                    };

                    var chartOptions = {
                      legend: {
                        display: true,
                        position: 'top',
                        labels: {
                          boxWidth: 80,
                        }
                      }
                    };

                    var lineChart = new Chart(lastw, {
                      type: 'line',
                      data: Data,
                      options: chartOptions
                    });
                    </script>
                    </div>
                    <div class="container col-lg-6 col-md-12">
                        <h5>Aktivität Letzten Monat</h5>
                        <canvas id="lastm" width="10rem"></canvas>
                        <script>
                    var speedCanvas = document.getElementById("lastm");
                    speedCanvas.height = 3;

                    Chart.defaults.global.defaultFontFamily = "Lato";
                    Chart.defaults.global.defaultFontSize = 18;

                    var Data = {
                      labels: {{ df_month_times }},
                      datasets: [{
                        label: "Aufgabenabschlüsse",
                        data: {{ df_month_values }},
                        backgroundColor: [
                            'rgba(20, 95, 190, 0.2)',
                        ],
                        borderColor: [
                            'rgba(20, 95, 190, 1)',
                        ],
                      }]
                    };

                    var chartOptions = {
                      legend: {
                        display: true,
                        position: 'top',
                        labels: {
                          boxWidth: 80,
                        }
                      }
                    };

                    var lineChart = new Chart(lastm, {
                      type: 'line',
                      data: Data,
                      options: chartOptions
                    });
                    </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-auto">
            <div class="panel panel-primary rounded col-10 mx-auto border-bottom">
                <div class="row">
                    <div class="container col-lg-6 col-md-12">
                        <h5>Aktivität Letztes Quartal</h5>
                        <canvas id="lastq" width="10rem"></canvas>
                        <script>
                        var speedCanvas = document.getElementById("lastq");
                        speedCanvas.height = 3;

                        Chart.defaults.global.defaultFontFamily = "Lato";
                        Chart.defaults.global.defaultFontSize = 18;

                        var Data = {
                          labels: {{ df_quarter_times }},
                          datasets: [{
                            label: "Aufgabenabschlüsse",
                            data: {{ df_quarter_values }},
                            backgroundColor: [
                                'rgba(20, 95, 190, 0.2)',
                            ],
                            borderColor: [
                                'rgba(20, 95, 190, 1)',
                            ],
                          }]
                        };

                        var chartOptions = {
                          legend: {
                            display: true,
                            position: 'top',
                            labels: {
                              boxWidth: 80,
                            }
                          }
                        };

                        var lineChart = new Chart(lastq, {
                          type: 'line',
                          data: Data,
                          options: chartOptions
                        });
                        </script>
                    </div>
                    <div class="container col-lg-6 col-md-12">
                        <h5>Aktivität Total</h5>
                        <canvas id="total_activ" width="10rem"></canvas>
                        <script>
                        var speedCanvas = document.getElementById("total_activ");
                        speedCanvas.height = 3;

                        Chart.defaults.global.defaultFontFamily = "Lato";
                        Chart.defaults.global.defaultFontSize = 18;

                        var Data = {
                          labels: {{ df_year_times }},
                          datasets: [{
                            label: "Aufgabenabschlüsse",
                            data: {{ df_year_values }},
                            backgroundColor: [
                                'rgba(20, 95, 190, 0.2)',
                            ],
                            borderColor: [
                                'rgba(20, 95, 190, 1)',
                            ],
                          }]
                        };

                        var chartOptions = {
                          legend: {
                            display: true,
                            position: 'top',
                            labels: {
                              boxWidth: 80,
                            }
                          }
                        };

                        var lineChart = new Chart(total_activ, {
                          type: 'line',
                          data: Data,
                          options: chartOptions
                        });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <!-- Headline für sektion -->
        <div class="row">
            <div class="panel panel-primary p-4 rounded col-10 mx-auto">
                <h3>Projektübersicht</h3>
            </div>
        </div>
        <!-- project key values-->
        <div class="row mx-auto">
            <div class="panel panel-primary p-4 rounded col-10 mx-auto">
                <div class="row mx-auto text-center">
                    <div class="col-3">
                        <h2 class="text-center">{{ done_pro }}</h2>
                        <h5 class="text-center text-secondary">Abgeschlossene Projekte</h5>
                    </div>
                    <div class="col-3">
                        <h2 class="text-center">{{ pros }}</h2>
                        <h5 class="text-center text-secondary">Offene Projekte</h5>
                    </div>
                    <div class="col-3">
                        <h2 class="text-center">0</h2>
                        <h5 class="text-center text-secondary">Abgebrochene Projekte</h5>
                    </div>
                    <div class="col-3">
                        <h2 class="text-center">{{ pro_ten }}</h2>
                        <h5 class="text-center text-secondary">Projekte mit +10 Todos</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- bar chart-->
        <div class="row mx-auto">
            <div class="panel panel-primary p-4 rounded col-10 mx-auto">
                <div class="box">
                    <h5>Projektanteile an Gesamtaufwand</h5>
                    <canvas id="bar-chart" width="400" height="150"></canvas>
                    <script>
                    new Chart(document.getElementById("bar-chart"), {
                        type: 'bar',
                        data: {
                          labels: [{% for i in projekte %}'{{ i }}',{% endfor %}],
                          datasets: [
                            {
                              label: "Verbleibender Aufwand in Std",
                              backgroundColor: [{% for i in colorlist %}'{{ i }}',{% endfor %}],
                              data: {{ pro_effort }}
                            }
                          ]
                        },
                        options: {
                          legend: { display: false },
                          title: {
                            display: true,
                            text: 'Projekte im verbleibenden Zeitaufwand'
                          }
                        }
                    });
                    </script>
                </div>
            </div>
        </div>
    </div>


    <div class="fixedbtn">
        <div class="do_sloth"></div>
     <!-- <img src="{% static 'todo/images/sloth_icon.png' %}" class="rounded-circle"/>-->
    </div>

{% endblock %}
