<!DOCTYPE html>
<html lang="de">
<head>
        <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Sloth</title>
</head>
<body>
    <div class="container col-10 p-5 text-center">
        <h1 class="font-weight-bold text-center font-weight-bold">Danke für dein Feedback!</h1>
        <br class="font-weight-normal text-secondary text-center p-4 sub_small">Es ist so cool, dass du uns dein Feeback gegeben hast, wir werden versuchen all deine Wünsche umzusetzen.</br>
        Wenn du auf dem laufenden bleiben möchtest, dann melde dich auch für unseren Newsletter an! Die Wahl liegt aber bei dir, du wirst keine Mails von uns erhalten, wenn du das nicht willst!</p>
        <a href="{% url 'todo:index' %}" class="btn btn-primary mx-atuo">Zurück</a>
    </div>
</body>
</html>
